@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  text-decoration: none;
}

html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}

.dButton {
  display: inline-block;
  position: relative;
}
.dButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  border: 0px solid transparent; /* Начальная граница */
  outline: 2px solid #ff715b; /* Устанавливаем красный цвет границы */
  box-sizing: border-box; /* Учитываем ширину границы внутри размеров элемента */
  transition-duration: 100ms;
  transition-property: outline-width, border;
  z-index: 9;
}

.dButton:hover::before {
  outline-width: 6px;
}

.removeB:active::before {
  border: 12px solid #ff715b;
}

.openB:active::before {
  border: 12px solid #1ea896;
}

/* checkbox */
.custom-checkbox input[type="checkbox"] {
  display: none;
}

/* Стили для кастомного чекбокса */
.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.custom-checkbox span {
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  border-radius: 4px; /* Можно сделать квадратным, если убрать */
  transition: background-color 0.3s, border-color 0.3s;
}

/* Добавляем стили для состояния "checked" */
.custom-checkbox input[type="checkbox"]:checked + span {
  background-color: #000;
  border-color: #000;
}

.custom-checkbox span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: white;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s;
}

.custom-checkbox input[type="checkbox"]:checked + span::after {
  transform: translate(-50%, -50%) scale(1);
}
